<html>
<head>
	<title>sqlmap task create</title>
	<style type="text/css">
	.content{
		margin: 200px auto;
		text-align: center;
	}
	.content div{
		margin: 0 auto;
		height: 300px;
		width: 500px;
		text-align: left;
	}
	.content h1{
		text-align: center;
		color: gray;
	}
	</style>
</head>
<body>
	<div class="content">
		<div>
			<h1>SqlMap扫描器</h1>
			<form action="/task/create" method="post">
				Target: <br><textarea name="target" rows="3" cols="68"></textarea><br><br>
				Cookie: <br><textarea name="cookie" rows="3" cols="68"></textarea><br><br>
				<button type="submit" >提交</button>
			</form>
		</div>

	
	</div>

</body>
</html>